.bgimg-1 {
  background-image: url("https://images.wallpaperscraft.com/image/controller_joystick_gamepad_133489_3840x2160.jpg");
  min-height: 100%;
}


.bgimg-2 {
  background-image: url("https://www.overclock.net/photopost/data/1177854/0/07/078cfc63_DSC01844.jpeg");
  min-height: 85%;
}
